<!DOCTYPE html>
<html>
	<head>
		<title>Home page</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

		<link rel="stylesheet" href="../styles/style.css"/>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<script src="scripts/home.js"></script>
	</head>

	<body>

		<nav class="navbar navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">social network</a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="/"><i class="fas fa-home"></i> Home</a></li>
					<li><a href="#"><i class="fas fa-user"></i> Profile</a></li>
					<li><a href="#"><i class="fas fa-users"></i> Friends</a></li>
					<li><a href="/api/logout">logout</a></li>
				</ul>
				<form class="navbar-form navbar-right" action="/api/searchFriends">
					<div class="form-group">
						<input type="text" name="search" class="form-control" placeholder="Search Friends ...">
					</div>
				</form>
			</div>
		</nav>
		<div class="main-body">
			<h4> Friends</h4>
			<div class="friendsList">
				each val in result
					.friend-item
						.friend-name= val['username']
						.friend-request
							a(href=`/api/sendRequest?id=${val['id']}`) 
								i.fas.fa-user-plus
			</div>
		</div>
	</body>
</html>