<!DOCTYPE html>
<html>
	<head>
		<title>login page</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#"><i class="fas fa-globe-asia"></i> social network</a>
				</div>
			</div>
		</nav>


		<div class="container">

			<div class="row">
				<div class="col-md-6">
					<h2>Login</h2>
					<br/>
					<form method="post" action="/api/login">
						<div class="form-group">
							<input type="email" class="form-control" id="email" placeholder="Email" name="email">
						</div>
						<br/>
						<div class="form-group">
							<input type="password" class="form-control" id="pwd" placeholder="Password" name="password">
						</div>
						<br/>
						<button type="submit" class="btn btn-default">Login</button>
					</form>
					<br/>
					<a href="/signin">or create a new account</a>
				</div>
				<div class="col-md-6">
					<img style="height:450px; width:550px;margin:0 auto 0 auto;padding:20px 0 0 50px;" src="images/textbook.jpg"/>
				</div>
			</div>
		</div>

	</body>
</html>