<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/style.css" />
  </head>
  <body>
    <aside class="profile-card">
      <div class="card">
        <img src="images/gultoo.jpg" alt="akhil_Akhilesh" style="width:100%;">
      </div>
    </aside>

    <div class="card">
      <img src="images/gultoo.jpg" alt="akhil_akhilesh" style="width:100%">
      <h1>User-Name</h1>
      <h1>Friends - 69 </h1>
      <p class="title">CEO & Founder,BIT</p>
      <p>Bangalore Institute Of Technology</p>
      <div style="margin: 24px 0;">
        <a href="#"><i class="fa fa-dribbble"></i></a> 
        <a href="#"><i class="fa fa-twitter"></i></a>  
        <a href="#"><i class="fa fa-linkedin"></i></a>  
        <a href="#"><i class="fa fa-facebook"></i></a> 
      </div>
    </div>
  </body>
</html>
