<html>
	<head>
		<title>sign up</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

	<body>
		<div class="container">

			<div class="jumbotron" style="padding-bottom:0px;padding-top:0px;width:50%;">
				<h1>BIT Social Site</h1> 
			</div>
			<h2>Sign up</h2>
		</div>
		
		<img style="float:right;width:600px; height:400px; padding-right:50px;" src="images/textbook.jpg"/>

		<div class="container">
			<form method="post" action="/api/register" style="width:50%">

				<div class="form-group">
					<label for="name">Name:</label>
					<input type="text" class="form-control" id="name" placeholder="Enter name" name="username">
				</div>

				<div class="form-group">
					<label for="email">Email:</label>
					<input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
				</div>
		    
				<div class="form-group">
					<label for="pwd">Password:</label>
					<input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
				</div>

				<div class="form-group">
					<label for="dob">DOB</label>
					<input type="date" class="form-control" id="dob" placeholder="Enter date of birth" name="dob">
				</div>

				<div class="form-group">
					<label for="gender">Gender:</label><br>
					<input type="radio" name="gender" value="male" checked> Male
					<input type="radio" name="gender" value="female"> Female
					<input type="radio" name="gender" value="other"> Other<br><br>
				</div>

				<button type="submit" class="btn btn-default">Submit</button>
				<input type="reset" class="btn btn-default">

			</form>
		</div>

	</body>
</html>