.main-body{
    margin: 90px 20px 0 20px;
}

nav{
    padding:10px;
    border-bottom: 1px solid #000 !important;
    background-color: #fff;
}

#empty-news-card,#empty-friends-list{
    background-color:rgba(250,0,0,0.6);
    color:#fff;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    font-weight: 900;
}

.newsfeed{
    overflow: scroll;
    padding-right: 15px;
    height: 500px;
}
.newscard{
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 3px 10px 3px 10px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.friend{
    border:1px solid #000;
    margin-bottom: 5px;
    padding-left:5px;
}

.title {
    color: grey;    
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}

.friendsList{
    padding: 20px;
    width: 300px;
}
.friend-item{
    padding: 7px;
    border: 1px solid #000;
    margin-top:2px;
    height: 35px;
}

.friend-item:hover{
    background-color: #eee;
}
.friend-name{
    float: left;
}
.friend-request{
    float: right;
}